body {
    background-color: rgba(114, 164, 204, 0.341);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

.cont_banda {
    position: absolute;
    right: 680px;
    z-index: 999;
    bottom: 305px;
}

.banda {
    width: 300px;
}

.contFilauno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 13%;
}

.fondo {
    position: fixed; /* Cambiado de fixed a absolute */
    z-index: -999;
    width: 100%;
    height: 100%;
    top: 0; /* Ajusta según tus necesidades */
    left: 0; /* Ajusta según tus necesidades */
}

.titu {
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.registro {
    max-width: 38em;
    color: white;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.661);
    font-size: 23px;
    padding: 3.5%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 4px;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 50px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.parrafos {
    font-weight: bold;
    margin-bottom: -2px;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.sin {
    width: 400px;
    height: 100px;
}

input {
    background-color: rgba(255, 255, 255, 0.783);
    border: 1px solid black;
    padding: 6px;
}

.select {
    width: 6rem;
    border: 1px solid black;
    font-size: 15px;
    height: 30px;
    text-align: center;
}

.agen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Agendar {
    color: white;
    width: 15rem;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.527);
    font-weight: 400;
    padding: 5px;
    border: 1px solid black;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.registroDos {
    color: white;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.812);
    min-width: 10cqmax;
    height: max-content;
    font-size: 23px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 4px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
}

.est {
    font-size: 21px;
    text-align: center;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    margin-bottom: 15%;
}

.contBut {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 10%;
}

.but {
    display: flex;
    height: 12px;
    width: 12px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 6px;
}

.par {
    margin-left: 6px;
    color: black;
    font-size: 17px;
}

#containerPadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    width: 100%;
    margin-bottom: 150px;
}

.container {
    color: rgb(132, 1, 255);
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.812);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(62, 46, 240, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.imagen {
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.nombre {
    padding-top: 20px;
    padding-left: 50px;
}

.propietario {
    padding-left: 50px;
}

.telefono{
    padding-left: 50px;
}

.tipo {
    padding-left: 50px;
}

.dia {
    padding-left: 50px;
}

.hora {
    padding-left: 50px;
}

.sintomas {
    padding-bottom: 20px;
    padding-left: 50px;
}

.swal-button-container {
    display: flex;
    justify-content: center;
}

.cancelarCita {
    background-color: rgba(163, 39, 212, 0.62);
    color: white;
    padding: 7px;
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 16px;
}
